# .env file
PORT=
NODE_ENV=
ALLOWED_ORIGINS=

# Folder Ids
DRIVE_CARD_FRONTS=
DRIVE_CARD_BACKS=
DRIVE_OBJECTS=
DRIVE_BACKGROUNDS=
DRIVE_ICONS=
DRIVE_AUDIO=
DRIVE_JSON=

# A credentials.json is also needed in a separate file!