<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/views/style.css">
  <title>Asset Service | LOGIN</title>
</head>
<body>
  <div class="container">
    <div id="head">
      <h1>ASSET SERVICE</h1>
      <p>A platform designed to store, host, and retrieve assets, photos, files, etc.</p><hr class="hr">
    </div>

    <form action="/dashboard" class="upload-widget">
      <h3>Login to continue</h3>
      <!-- <input name="category" type="text" placeholder='Must be one of ["IMAGES", "AUDIO", "JSON"]' class="upload-item"> -->
      <input name="password" type="password" placeholder="Enter Password" required>
      <input type="submit">
    </form>
  </div>

</body>
</html>